<div
  class="mt-8 p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4"
>
  <div>
    <div class="text-xl font-medium text-black">
      Quer incluir uma iniciativa na lista?
    </div>
    <p class="text-gray-500">
      Envie um email para
      <span class="font-bold">portalsosrs&#64;gmail.com</span> com o assunto
      <span class="font-bold">"Divulgar iniciativa"</span> ou clique no botão
      abaixo.
    </p>
    <p class="text-gray-500">
      Por favor, <span class="font-bold">inclua o link de uma postagem</span> da
      campanha para que possamos verificar e adicionar.
    </p>
    <a
      href="mailto:portalsosrs@gmail.com?subject=Informar um erro"
      class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300"
    >
      Enviar Email
    </a>
  </div>
</div>
