<div class="bg-blue-500 text-white text-center p-12">
  <h1 class="text-4xl font-bold">Portal SOS RS</h1>
  <p class="text-xl mt-4">
    Ajude diretamente iniciativas da Sociedade Civil que estão atuando no
    auxílio às populações afetadas.
  </p>
  <p class="text-xl mt-4">
    Clique em uma das iniciativas para ir diretamente para a postagem da
    campanha e conhecer mais detalhes.
  </p>
  <nav>
    <button [routerLink]="['/']">Iniciativas</button>
    <button [routerLink]="['/divulgar-iniciativa']">Divulgar iniciativa</button>
    <button [routerLink]="['/informar-erro']">Informar um erro</button>
  </nav>
</div>
<router-outlet></router-outlet>
