<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Help Initiatives</title>
  </head>
  <body>
    <!-- Hero Unit -->
    <div class="bg-blue-500 text-white text-center p-12">
      <h1 class="text-4xl font-bold">Portal SOS RS</h1>
      <p class="text-xl mt-4">
        Ajude diretamente iniciativas da Sociedade Civil que estão atuando no
        auxílio às populações afetadas.
      </p>
    </div>

    <!-- Gallery -->
    <div class="container mx-auto px-4 py-8">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        @for (initiative of initiatives; track initiative.id) {
        <app-initiative-card [initiative]="initiative"></app-initiative-card>
        }
      </div>
    </div>
  </body>
</html>
